body {
  background-color: #A9A9A9;
}
.menu{
  background-color: #A9A9A9;
  color: #000080;
  font-size: 20px;

}
.rodapePrincipal{
  text-align: center;
}
.rodape{
  background-color: #3333333;
}
.conteudo{
  border-style: solid;
  border-width: 1px;
  border-color: #00FF00;
  padding: 10px;
  margin-top: 10px;
}
